// Hero presentacion
.hero {
    @extend .container-hero;
    .hero-p {
        margin-top: 0px;
        height: 500px;
        width: 500px;
        color: white;
    }
    .hero-p-title {
        margin-top: 20%;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    .hero1-button {
        @extend .container-hero--botton;
    }
}
.hero1-img1-1 {
    height: 300px;
}
// Hero opciones
.hero-T1 {
    @extend .container-hero;

    .hero-T {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero-T1-p {
        margin-top: 0px;
        height: 300px;
        width: 500px;
        color: white;
        margin-bottom: 200px;
    }
    .hero-T1-p-title {
        margin-top: 20%;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    .hero-T1-img {
        margin-top: 0px;
        height: 300px;
        width: 700px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .hero-T1-img1 {
        height: 250px;
    }
    .hero2-button {
        @extend .container-hero--botton;
    }
}
.hero-T2 {
    @extend .container-hero;

    .hero-T2-conteiner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero-T2-p {
        margin-top: 0px;
        height: 300px;
        width: 500px;
        color: white;
        margin-bottom: 200px;
    }
    .hero-T2-p-title {
        margin-top: 20%;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    .hero-T2-img1 {
        height: 250px;
    }
    .hero-T2-img {
        margin-top: 0px;
        height: 300px;
        width: 700px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .hero3-button {
    @extend .container-hero--botton;
    }
}