.footer {
    background-color: #274f6e;
    color: white;
    padding: 50px 30px;

    &__content {
        @include templateGrid (3);
        h4 {
            color: #00ff88;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 20px;
        }
        &-list {
            li {
                max-width: 10px 0;
            }
            a {
              color: white;
              
              &:hover {
                color: #00ff88;
              }
            }
        }
    }
    &__rrss {
        @include templateFlex (space-evenly, false);
        margin-top: 30px;

        $IconSocialMedia: (
            github: #0d0e0d,
            facebook: #2279e4,
            instagram: #c92d8f,
            twitter: #55acee
        );

        @each $nameSocialMedia, $colorIcon in $IconSocialMedia {
            .rs-#{$nameSocialMedia} {
                color: white;
                font-size: 30px;

                &:hover {
                    color: $colorIcon;
                }
            }
        }
    }
    &__copy {
        margin-top: 40px;
        text-align: center;
        color: #00ff88;
    }
}