* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0%;
    background-color: $primary;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}
a{
    text-decoration: none;
}